<div class="basis-1/4 tw-shadow-2xl">
   <div class="tw-p-2">
     <hr>
     <ul class="tw-my-3" style="height: 480px;">
       <li><a routerLink="/" class="tw-block tw-p-2 tw-my-3 tw-text-xl hover:tw-bg-cyan-400 tw-font-bold hover:tw-text-white hover:tw-shadow-xl">DASHBOARD</a></li>
       <li><a routerLink="product" class="tw-block tw-p-2 tw-my-3 tw-text-xl hover:tw-bg-cyan-400 tw-font-bold hover:tw-text-white hover:tw-shadow-xl">PRODUCT</a></li>
     </ul>
   </div>
   <div class="tw-mt-64">
     <img src="https://img5.thuthuatphanmem.vn/uploads/2021/11/12/hinh-anh-anime-don-gian-hinh-nen-anime-don-gian-ma-dep_092443354.png" alt="" class="tw-rounded-full tw-w-52 tw-h-48 tw-m-auto">
   </div>
  </div>
