<div class="tw-min-h-full">
    <nav class="tw-bg-gray-800">
      <div class="tw-max-w-7xl tw-mx-auto tw-px-4 sm:tw-px-6 lg:tw-px-8">
        <div class="tw-flex tw-items-center tw-justify-between tw-h-16">
          <div class="tw-flex tw-items-center">
            <div class="tw-flex-shrink-0">
              <img class="tw-h-8 tw-w-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
            </div>
            <div class="tw-hidden md:tw-block">
           <p class="text-light ms-3">LAB3 - Phongnvph18006</p>
            </div>
          </div>
          <div class="tw-hidden md:tw-block">
            <div class="tw-ml-4 tw-flex tw-items-center md:tw-ml-6">
              <button type="button" class="tw-bg-gray-800 tw-p-1 tw-rounded-full tw-text-gray-400 hover:tw-text-white focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-offset-gray-800 focus:tw-ring-white">
                <span class="tw-sr-only">View notifications</span>
                <!-- Heroicon name: outline/bell -->
                <svg class="tw-h-6 tw-w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                </svg>
              </button>
  
              <!-- Profile dropdown -->
              <div class="tw-ml-3 tw-relative">
                <div>
                  <button type="button" class="tw-max-w-xs tw-bg-gray-800 tw-rounded-full tw-flex tw-items-center tw-text-sm focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-offset-gray-800 focus:tw-ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="tw-sr-only">Open user menu</span>
                    <img class="tw-h-8 tw-w-8 tw-rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </button>
                </div>
  
                <!--
                  Dropdown menu, show/hide based on menu state.
  
                  Entering: "tw-transition tw-ease-out tw-duration-100"
                    From: "tw-transform tw-opacity-0 tw-scale-95"
                    To: "tw-transform tw-opacity-100 tw-scale-100"
                  Leaving: "tw-transition tw-ease-in tw-duration-75"
                    From: "tw-transform tw-opacity-100 tw-scale-100"
                    To: "tw-transform tw-opacity-0 tw-scale-95"
                -->
              </div>
            </div>
          </div>
          <div class="tw--mr-2 tw-flex md:tw-hidden">
            <!-- Mobile menu button -->
            <button type="button" class="tw-bg-gray-800 tw-inline-flex tw-items-center tw-justify-center tw-p-2 tw-rounded-md tw-text-gray-400 hover:tw-text-white hover:tw-bg-gray-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-offset-gray-800 focus:tw-ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="tw-sr-only">Open main menu</span>
              <!--
                Heroicon name: outline/menu
  
                Menu open: "tw-hidden", Menu closed: "tw-block"
              -->
              <svg class="tw-block tw-h-6 tw-w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <!--
                Heroicon name: outline/x
  
                Menu open: "tw-block", Menu closed: "tw-hidden"
              -->
              <svg class="tw-hidden tw-h-6 tw-w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:tw-hidden" id="mobile-menu">
        <div class="tw-px-2 tw-pt-2 tw-pb-3 tw-space-y-1 sm:tw-px-3">
          <!-- Current: "tw-bg-gray-900 tw-text-white", Default: "tw-text-gray-300 hover:tw-bg-gray-700 hover:tw-text-white" -->
          <a href="#" class="tw-bg-gray-900 tw-text-white tw-block tw-px-3 tw-py-2 tw-rounded-md tw-text-base tw-font-medium" aria-current="page">Dashboard</a>
  
          <a href="#" class="tw-text-gray-300 hover:tw-bg-gray-700 hover:tw-text-white tw-block tw-px-3 tw-py-2 tw-rounded-md tw-text-base tw-font-medium">Team</a>
  
          <a href="#" class="tw-text-gray-300 hover:tw-bg-gray-700 hover:tw-text-white tw-block tw-px-3 tw-py-2 tw-rounded-md tw-text-base tw-font-medium">Projects</a>
  
          <a href="#" class="tw-text-gray-300 hover:tw-bg-gray-700 hover:tw-text-white tw-block tw-px-3 tw-py-2 tw-rounded-md tw-text-base tw-font-medium">Calendar</a>
  
          <a href="#" class="tw-text-gray-300 hover:tw-bg-gray-700 hover:tw-text-white tw-block tw-px-3 tw-py-2 tw-rounded-md tw-text-base tw-font-medium">Reports</a>
        </div>
        <div class="tw-pt-4 tw-pb-3 tw-border-t tw-border-gray-700">
          <div class="tw-flex tw-items-center tw-px-5">
            <div class="tw-flex-shrink-0">
              <img class="tw-h-10 tw-w-10 tw-rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="tw-ml-3">
              <div class="tw-text-base tw-font-medium tw-leading-none tw-text-white">Tom Cook</div>
              <div class="tw-text-sm tw-font-medium tw-leading-none tw-text-gray-400">tom@example.com</div>
            </div>
            <button type="button" class="tw-ml-auto tw-bg-gray-800 tw-flex-shrink-0 tw-p-1 tw-rounded-full tw-text-gray-400 hover:tw-text-white focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-offset-gray-800 focus:tw-ring-white">
              <span class="tw-sr-only">View notifications</span>
              <!-- Heroicon name: outline/bell -->
              <svg class="tw-h-6 tw-w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
            </button>
          </div>

        </div>
      </div>
    </nav>
  </div>
